<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="navbar">
    <div class="left">
      <img src="https://logos-world.net/wp-content/uploads/2022/04/BlaBlaCar-Symbol.png" alt="logo" class="logo">
      <span class="blabla">BlaBlaCar</span>
    </div>

    <div class="right">
      <a href="/search">Search</a>
      <a href="/publish">Publish a ride</a>

      <div class="user-dropdown" onclick="toggleDropdown()">
        <img src="https://img.freepik.com/premium-vector/avatar-profile-icon_188544-4755.jpg" alt="User" class="profile">
        <div class="dropdown-content" id="dropdown-menu">
          <% if (isLoggedIn) { %>
          <span style="padding:10px;">Hi, <%= username %></span>   
          <a href="/booked-rides">Your Rides</a>
          <a href="/inbox">Inbox</a>
          <a href="/profile">Profile</a>
          <a href="/published-rides">Published rides</a>
         <!--  <a href=""></a> -->
          <a href="/logout">Logout</a>
        <% } else { %>
          <a href="/login">Login</a>
          <a href="/signup">Sign up</a>
        <% } %>
        </div>
      </div>
    </div>
  </header>

  <script>
    function toggleDropdown() {
      const menu=document.getElementById('dropdown-menu');
      menu.style.display=menu.style.display=== 'block'?'none':'block';
    }

    window.addEventListener('click', function(e){
      const dropdown =document.getElementById('dropdown-menu');
      const profile=document.querySelector('.user-dropdown');
      if (!profile.contains(e.target)) {
        dropdown.style.display = 'none';
      }
    });
  </script>
</body>
</html>
