<!DOCTYPE html>
<html>
<head>
  <title>Login Options</title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main>
  <div class="container">
    <h1>How do you want to log in?</h1>

    <div class="option" onclick="location.href='/login/email'">
     <p>Email</p>
    </div>
    <hr>
    <div class="option" >
      <p>Fb</p>
    </div>

    <p>Not a member yet? <a href="/signup">Sign up</a></p>

  </div>
</main>

  <!-- <%- include('partials/footer.ejs') %> -->
</body>
</html>
