body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #fff;
}
p{
  font-size: 12px;
}
h4 {
  margin-top: 0;
}
#first {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

#first img {
  width: 100%;
  height: auto;
  display: block;
}

#first h1 {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
}

#card {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.card {
    flex: 1 1 300px;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 350px;
}

button {
  background-color: #00a8e8;
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#lookup{
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: #9bacf0; 
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}
#lookup img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
#right{
  flex: 1;
}
#offer{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}
#offer img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
#left{
  flex: 1;
}
