body{
  margin:0px;
    }
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  border-bottom: 1px solid #ddd;
}
.left,.right {
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
  margin-right: 10px;
}
.blabla{
  font-size: 24px;
  font-weight: bold;
  color: #006e90;
}
.right a {
  margin-left: 20px;
  font-size:14px;
}
.user-dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;;
}
.profile{
  width: 35px;
  cursor: pointer;
}
.dropdown-content{
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: rgb(255, 255, 255);
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.dropdown-content a {
  color: #003840;
  padding: 10px 15px;
  display: block;
  font-size: 14px;
}
.user-dropdown:hover .dropdown-content {
  display: block;
}
.checkbox-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 6px;
}

.option{
  display: block;
  border-radius: 10px;
  padding: 1px 8px;
}
.option:hover{
 background-color: aliceblue;
}
.option p{
  font-size: 13px;
}
a{
  text-decoration: none;
  color: #00a8e8;
}
h1{
  color:#031e26c5;
}

form{
  padding: 20px;
}

form h1 {
  font-size: 32px;
  font-weight: 700;
  color: #003840;
  text-align: center;
  margin-bottom: 30px;
}

input {
  width: 90%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  background-color: #eee;
  border-radius: 20px;
}
button {
  background-color: #00a8e8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.login-form button:hover {
  background-color: #008ac6;
}

#register{
  display:none;
}
.reset, .signup{
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

#img{
  background-color: #72acc4;
  width:22000%;
  height:50%;
}
#scale{
  background-color: #d4bc5b;
  width:80%;
  height:50%;
}
main {
  display:flex;
  justify-content: center; 
  align-items: center;     
}
#create-ride {
  padding:30px 40px;
  border-radius: 10px;
  max-width:600px;
  width: 90%;
}
.details{
  background-color:rgb(255, 255, 255);
  min-width: 500px;
  border-radius:10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding:10px;
  margin:19px;
}
h3{
  color:#033969;
}
p{
  color:#585a5c;
  font-size:12px;
}
#create-ride {
  padding:30px 40px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
}

#namebox {
  display: none;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

select, input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block; 
  border:1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:14px;
}
#myselfForm, #otherForm {
    padding:15px;
    border-radius: 4px;
    margin-top:15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#confirm{
  margin-top: 10px;
}